* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
		url(images/2454628.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.text-box {
	color: white;
	position: absolute;
	bottom: 10%;
	margin-left: 40px;
}

.text-box h1 {
	font-size: 100px;
	line-height: 120px;
}
.text-box h3 {
	font-size: 20px;
	font-weight: 250px;
}
.personal {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
.personal a {
	padding-left: 20px;
	text-decoration: none;
	color: white;
}
.socialImages {
	height: 50px;
}
.portfolioContainer {
	width: 650px;
	display: flex;
 	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: 100px;
	gap: 20px;
}
.portfolioCard {
	display: flex;
	flex-direction: column;
	text-align: center;
	border: solid white 1px;
	color: white;
	height: 450px;
	width: 300px;
}
.portfolioCard h3 {
margin-top: 10px;
}
.portfolioIcon {
	margin-top: 20px;
	height: 300px;
	background-position: center;
	background-size: contain;
	background-repeat:no-repeat;
}
.portfolioLinks a {
	text-decoration: none;
	color: white;
}
.portfolioTitle {
	color: white;
	margin-top: 50px;
	margin-left: 300px;
}
.mainLink {
	color: white;
	text-decoration: none;
	position: relative;
	font-size: larger;
}
.mainLink::after {
	content: "";
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-35%);
	background: white;
	transition: width 0.3s;
}
.mainLink:hover::after {
	width: 70%;
}